
<!-- Inclui o layout do cabeçário-->
<%- include('../headerLayout.ejs')%>
<h2>Nova Incubadora</h2>
<hr/>


    <form action="/incubadoras/create" method="POST">
        
            <label for="local">Local: </label>
                <input type="text" name="local">
       
            <button type="submit" >Cadastrar</button>
        
    </form>


   

<script>
    $('#incubadoras').addClass('active');
</script>

<!-- Inclui o layout de rodapé-->
<%- include('../footerLayout.ejs')%>
